.footer-container {
  text-align: center;
  color: white;
  background-color: #040647;
}

.footer-container .info {
  padding: 10px 8%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-container .sub {
  padding: 30px 8%;
  border-top: 5px solid #ff7200;
}

.footer-container .info .info-box {
  transition: 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 250px;
}

.footer-container .info .icon {
  font-size: 80px;
}
.footer-container a {
  color: #ff7200;
}

@media screen and (max-width: 1000px) {
  .footer-container .info {
    padding-right: 10px 4%;
  }
  .footer-container .info .icon {
    font-size: 50px;
  }
  .footer-container .info .info-box:hover {
    margin-top: 0px;
  }
  .footer-container .info .info-box {
    height: 150px;
  }
  .footer-container .info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* @media screen and (max-width: 800px) {
} */

@media screen and (max-width: 600px) {
  .footer-container .info {
    display: block;
  }

  .footer-container .info .info-box p {
    margin-top: 10px;
  }
}
