nav .navbarsub-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 8%;
  background-color: var(--primary);
  color: white;
  border-bottom: 5px solid var(--secondary);
  transition: 0.5s ease-in-out;
}

nav .navbarsub-container div {
  display: flex;
  align-items: center;
}

nav .navbarsub-container div a {
  color: white;
  display: flex;
  align-items: center;
}

nav .navbarsub-container div a .icon {
  font-size: 20px;
}

nav .main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 8% 0px 7.5%;
  height: 80px;
  width: 100%;
  transition: 0.5s ease-in-out;
  background-color: white;
}

nav .main-nav ul {
  display: flex;
  align-items: center;
}

nav .main-nav ul li {
  margin-left: 60px;
}

nav .main-nav ul li a,
nav .main-nav ul li .x {
  color: var(--primary);
  transition: 0.5s ease-in-out;
}

nav .main-nav ul li a:hover,
nav .main-nav ul li .x:hover {
  color: var(--secondary);
}

nav .main-nav ul .account {
  position: relative;
}

nav .main-nav ul .account .auth1 {
  position: absolute;
  top: 50px;
  left: -20px;
  text-align: center;
  width: 140px;
  transition: 0.5s ease-in-out;
  border: 1px solid var(--primary);
}

nav .main-nav ul .account .auth2 {
  margin-left: -15px;
}

#auth {
  display: none;
}

nav .main-nav ul .account .auth1 span {
  background-color: white;
  width: 100%;
  display: block;
  transition: 0.5s ease-in-out;
}

nav .main-nav ul .account .auth1 span a,
nav .main-nav ul .account .auth1 span span {
  color: var(--primary);
  height: fit-content;
  padding: 5px;
  width: 100%;
  display: block;
  background-color: white;
  transition: 0.5s ease-in-out;
  border-bottom: 1px solid var(--primary);
}

nav .main-nav ul .account .auth1 span a:hover {
  color: var(--primary);
  width: 100%;
  color: white;
  background-color: var(--primary);
}

nav .main-nav ul .account .auth1 span:first-child {
  border-bottom: none;
}

nav .main-nav ul .account .auth1 span:last-child a {
  border-bottom: none;
}

.x {
  display: flex;
  align-items: center;
}

.x .icon {
  font-size: 10px;
  margin-left: 10px;
}

#sticky {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-bottom: 5px solid var(--primary);
  position: fixed;
  top: 0px;
  height: 80px;
  z-index: 100;
  color: var(--primary);
  animation: 1s slidein;
}

@keyframes slidein {
  from {
    margin-top: -300px;
  }

  to {
    margin-top: 0px;
  }
}

#sticky a {
  color: var(--primary);
  transition: 0.5s ease-in-out;
}

#sticky a:hover {
  color: var(--secondary);
}

#sticky .auth1 span a {
  border-bottom: 1px solid var(--primary);
}

#sticky .auth1 span a:hover {
  color: white;
}

.mobile-nav {
  display: none;
  border-radius: 50%;
}

.div li {
  list-style-type: none;
  padding: 0px;
}

.li {
  list-style-type: none;
}

.x a {
  border-radius: 5px;
  width: 100%;
}

.li a {
  font-size: 16px;
  padding: 15px;
  color: #000;
  display: flex;
  align-items: center;
}

.li a:hover {
  color: #2351dc;
  background-color: #eee;
}

.close-icon {
  position: absolute;
  font-size: 20px;
  width: 50px;
  height: 50px;
  top: 3%;
  right: 2%;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-icon:hover {
  color: red;
  background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1000px) {
  nav .navbarsub-container {
    padding: 10px 4%;
  }
  nav .main-nav {
    padding: 0px 4% 0px 3%;
  }
}

@media screen and (max-width: 800px) {
  .mobile-nav {
    display: block;
  }
  nav .main-nav ul {
    display: none;
  }
  nav .navbarsub-container {
    display: block;
  }

  nav .navbarsub-container div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav .navbarsub-container div a {
    color: white;
    display: flex;
    align-items: center;
  }

  nav .navbarsub-container .acc {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  nav .navbarsub-container div {
    flex-direction: column-reverse;
  }
  nav .navbarsub-container div a {
    margin-left: 0px;
  }
}
